
@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
    
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 720px;
    }
    
	.testimonials-mobile {
		display: none;
	}
    

      
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }
     .menu-toggler {
      display: none;
    }
    .menu-close {
      display: none;
    }

  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
   
    
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1224px;
    }
		.header-area .container,
		.hero-area .container {
			max-width: 1350px;
		}
    

  }




/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

/* hero area  */


.hero-left h2 {
	font-size: 40px;
}
.hero-right {
	flex: 1;
	max-width: 400px;
}



.recent-wrok-info h4 {
	font-size: 20px;
}





















}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {



  /* header area  */

  .header-nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100dvh;
    z-index: 999;
    background: var(--gray-bg);
    padding: 30px 20px;
    padding-top: 10px;
    align-items: start;
    transition: 0.3s;
  }
.navbar-nav ul {
	display: flex;
	align-items: start;
	gap: 35px;
	flex-direction: column;
}
.menu-close {
	background: transparent;
	border: none;
	font-size: 25px;
	margin-left: auto;
}
.header-nav.active {
	right: 0;
}
.header-wrapper {
	padding-block: 20px;
}
.header-area {
	border-bottom: 1px solid var(--border-color);
}

/* hero area  */


.hero-left h2 {
	font-size: 40px;
}
.hero-right {
	flex: 1;
	max-width: 100%;
}
.hero-wrapper {
	flex-direction: column;
}

.hero-left {
	max-width: 100%;
}
.hero-right img {
	max-width: 400px;
}


/* service area  */
.service-area {
	padding-block: 70px;
}
.service-wrapper {
	padding-top: 50px;
	grid-template-columns: repeat(2, 1fr);
}
.section-title {
	font-size: 30px;
}
.package-actions p {
	font-size: 12px;
}


/* recent work area  */

.recent-wrok-area {
	padding-block: 70px;
}
.recent-work-wrapper {
	padding-top: 50px;
	grid-template-columns: repeat(2, 1fr);
}

/* whatsapp card  */
.whatsapp-card {
	padding-block: 70px;
}
.whatsapp-wrapper {
	flex-direction: column;
  gap: 30px;
}
.whatsapp-left {
	text-align: center;
	max-width: 100%;
}
.whatsapp-left h4 {
	font-size: 30px;
}

/* contact area  */

.contact-area {
	padding-block: 70px;
}
.contact-wrapper {
	padding-top: 40px;
}


.footer-top {
	flex-direction: column;
	gap: 40px;
}

.footer-area {
	padding-block: 70px;
}
.nav-fixed .header-wrapper {
	padding-block: 20px;
}



}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {	


/* header area  */

  .header-nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100dvh;
    z-index: 999;
    background: var(--gray-bg);
    padding: 30px 20px;
    padding-top: 10px;
    align-items: start;
    transition: 0.3s;
  }
.navbar-nav ul {
	display: flex;
	align-items: start;
	gap: 35px;
	flex-direction: column;
}
.menu-close {
	background: transparent;
	border: none;
	font-size: 25px;
	margin-left: auto;
}
.header-nav.active {
	right: 0;
}
.header-wrapper {
	padding-block: 20px;
}

.header-area {
	border-bottom: 1px solid var(--border-color);
}

/* hero area  */

.hero-area {
	padding-top: 24px;
	padding-bottom: 24px;
}
.hero-left h2 {
	font-size: 28px;
	letter-spacing: -0.5px;
}
	.container {
		padding-inline: 20px
	}
.hero-right {
	flex: 1;
	max-width: 100%;
	display: none;
}
.hero-wrapper {
	flex-direction: column;
	gap: 0;
}

.hero-left {
	max-width: 100%;
	gap: 15px;
}
.hero-right img {
	max-width: 400px;
	width: 100%;
}
.hero-left p {
	font-size: 16px;
}
.action-btn {
	font-size: 12px;
	padding-block: 6px;
}



/* service area  */
.service-area {
	padding-block: 24px;
}
.service-wrapper {
	padding-top: 35px;
	grid-template-columns: 1fr;
}
.section-title {
	font-size: 24px;
}
.package-actions p {
	font-size: 12px;
}
.section-sub-title {
	font-size: 14px;
}
.package-info h4 {
	font-size: 20px;
}
.package-info p {
	font-size: 16px;
}
.package-price h4 {
	font-size: 30px;
}


/* recent work area  */

.recent-wrok-area {
	padding-block: 24px;
}
.recent-work-wrapper {
	padding-top: 16px;
	grid-template-columns: repeat(2, 1fr);
}
.recent-wrok-info h4 {
	font-size: 14px;
}
.recent-wrok-info p {
	display: none;
}
.single-recent-wrok {
	gap: 12px;
}

.recent-work-action a {
	width: 100%;
	min-height: 32px;
}

/* whatsapp card  */
.whatsapp-card {
	padding-block: 24px;
}
.whatsapp-wrapper {
	flex-direction: column;
  gap: 16px;
}
.whatsapp-left {
	text-align: center;
	max-width: 100%;
}
.whatsapp-left h4 {
	font-size: 20px;
	letter-spacing: unset;
	line-height: 156%;
}

.wahtsapp-action a img {
	display: none;
}
.wahtsapp-action a {
	color: #20408E;
  height: fit-content;
	font-size: 16px;
	border-bottom: 3.541px solid #B2DFED;
}
.whatsapp-left p {
	font-size: 14px;
}


.testimonials-area {
	padding-block: 24px;
}
.testimonals-wrapper {
	padding-top: 25px;
}
.single-testimonal {
	gap: 16px;
	padding: 20px;
}
.review-content p {
	font-size: 14px;
}
.review-star ul {
	font-size: 16px;
	gap: 5px;
}
.user-card a {
	font-size: 16px;
}

/* contact area  */

.contact-area {
	padding-block: 24px;
}
.contact-wrapper {
	padding-top: 40px;
}

.input-group {
	grid-template-columns: 1fr;
	gap: 16px;
}
.contact-wrapper form {
	background: transparent;
	border: none;
	padding: 0;
}
.single-input label {
	display: none;
}
.submit-button button {
	width: 100%;
}
.contact-bottom-card {
	flex-direction: column;
	gap: 16px;
}
.contact-btm-info p {
	font-size: 16px;
}
.contact-btm-info a {
	font-size: 18px;
}
.footer-top {
	flex-direction: column;
	gap: 16px;
}

.footer-area {
	padding-block: 24px;
}
.footer-block.contact-us-block {
	display: none;
}
.footer-block.follow-us {
	display: none;
}

.footer-wrapper {
	gap: 16px;
}
.copyright-area {
	padding-top: 17px;
	align-items: center;
	justify-content: center;
}
.d-none-sm {
	display: none !important;
}
.footer-social-mobile {
	display: flex;
	gap: 16px;
	padding-top: 16px;
	border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-social-mobile a {
	display: flex;
	width: 39.999px;
	height: 39.999px;
	padding-right: 0.018px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.10);
}

.nav-fixed .header-wrapper {
	padding-block: 20px;
}

.hero-actions {
	flex-direction: column;
}
.hero-actions a {
	width: 100%;
	max-width: 100%;
}
.hero-features {
	flex-direction: column;
	gap: 12px;
	align-items: start;
}

.testimonal-slider {
	display: none !important;
}
.testimonials-mobile {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.slider-button-next, .slider-button-prev {
	width: 35px;
	height: 35px;
	padding: 10px;
	font-size: 16px;
	display: none;
}
.submit-button a {
	width: 100%;
}
.wahtsapp-action {
	max-width: 100%;
	width: 100%;
}

}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {

	




























}